a {
  color: $brand-primary;
  font-weight: 600;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.45;
  margin: 0;
}

.headline-centered {
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.headline-centered.has-subtitle {
  padding-bottom: 1rem;
}

.centered-link {
  text-align: center;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: bold;
  line-height: 1.2;
}

h1 {font-size: 2.018em;}

h2 {font-size: 1.618em;}

h3 {font-size: 1.218em;}

.subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1.2rem;
}

small, .font_small {font-size: 80%;}
strong {
  font-weight: bold;
  color: $brand-primary;
}
@media screen and (min-width: 41rem) {
  h1 {font-size: 2.618em;}
  .subtitle {
    font-size: 1.618em;
    max-width: 60%;
    margin: 1rem auto 2.5rem;
  }
}