/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@import 'variables';
@import 'utilities/flex';
@import 'utilities/misc';
@import 'utilities/cards';
@import 'utilities/inputs';
@import 'utilities/grid';
@import 'typography';
//@import 'utilities/margins';
//@import 'utilities/paddings';
@import 'components/alerts';
@import 'components/horizontal-scroller';
//@import 'components/navigation';
//@import 'components/footer';
@import 'components/buttons';
@import 'components/modals';
@import 'components/pagination';
//@import 'components/lightbox';
@import 'components/inputs';
//@import 'components/tables';

.tag-item.all.active,
.tag-item.all:hover {
    background: $brand-primary;
    color: #ffffff;
}

.tag-item.php.active,
.tag-item.php:hover {
    background: #4F5B93;
}

.tag-item.php:hover {
    color: #ffffff;
}

.tag-item.javascript.active,
.tag-item.javascript:hover {
    background: #EFD844;
}

.tag-item.javascript:hover {
    color: #6a5921;
}

.tag-item.laravel.active,
.tag-item.laravel:hover {
   background: #e74430;
}

.tag-item.laravel:hover {
    color: #ffffff;
}

.tag-item.vue-js.active,
.tag-item.vue-js:hover {
    background: #4fc08d;
}

.tag-item.laravel:hover {
    color: #ffffff;
}

.tag-item.react-js.active,
.tag-item.react-js:hover {
    background: #61dafb;
}

.tag-item.react-js:hover {
    color: #3d6a82;
}

.tag-item.code-editor.active,
.tag-item.code-editor:hover {
    background: #1C2022;
}

.tag-item.code-editor:hover {
    color: #ffffff;
}

.tag-item.design.active,
.tag-item.design:hover {
    background: #5449D2;
}

.tag-item.design:hover {
    color: #ffffff;
}

.tag-item.css.active,
.tag-item.css:hover {
    background: #0770B3;
}

.tag-item.css:hover {
    color: #ffffff;
}

.tag-item.es6.active,
.tag-item.es6:hover{
    background: #F4C33B;
}

.tag-item.es6:hover {
    color: #ffffff;
}

.tag-item.ux.active,
.tag-item.ux:hover {
    background: #b03ac8;
}

.tag-item.ux:hover {
    color: #ffffff;
}

.tag-item.html.active,
.tag-item.html:hover {
    background: #DB4C2F;
}

.tag-item.html:hover {
    color: #ffffff;
}

.tag-item.browsers.active,
.tag-item.browsers:hover {
    background: #465f9e;
}

.tag-item.browsers:hover {
    color: #ffffff;
}

.tag-item.git.active,
.tag-item.git:hover {
    background: #E74E39;
}

.tag-item.git:hover {
    color: #ffffff;
}

.tag-item.cli.active,
.tag-item.cli:hover {
    background: #03262E;
}

.tag-item.cli:hover {
    color: #ffffff;
}

.tag-item.ember.active,
.tag-item.ember:hover {
    background: #DA4B37;
}

.tag-item.ember:hover {
    color: #ffffff;
}

@import 'base';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
