.card {
  background: #ffffff;
  margin-bottom: 2rem;
}

.card .image-wrapper {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
}

.card .image-wrapper.full-width {
  width: 100%;
}

.block-wrapper {
  height: 12rem;
  width: 100%;
  background-size: cover;
}

.card p {
  word-break: break-word;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.toolbar {
  background-color: #eee;
  font-size: 14px;
  padding: .5rem 1rem;
}

.toolbar p {
  font-size: 14px;
}

.toolbar .icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.toolbar .icon svg {
  fill: #AAB8C2;
  transition: all $transition-time;
}

.toolbar .icon:hover svg {
  fill: $brand-primary;
}

//.toolbar .toolbar-tag.active {
//  text-decoration: underline;
//}

@media screen and (min-width: 61rem) {
  .card {
    margin-bottom: 0;
  }
  .regular-page .text-card {
    padding: 2rem 12rem;
  }
}
